Package: com.iprogramincpp.purplecord
Name: Purplecord
Version: 0.1.1
Architecture: iphoneos-arm
Description: A Discord client for iOS 3+.
Maintainer: iProgramInCpp
Author: iProgramInCpp
Section: Messaging
