<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Purplecord</string>
	<key>CFBundleIconFile</key>
	<string>icon-classic.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<!-- iOS 6 iPhone (home) [59x60] -->
		<string>icon.png</string>
		<string>icon@2x.png</string>
		<!-- iOS 6 iPad (home) [74x76] -->
		<string>icon-72.png</string>
		<string>icon-72@2x.png</string>
		<!-- iOS 6 iPhone (spotlight) [29x29] -->
		<string>icon-small.png</string>
		<string>icon-small@2x.png</string>
		<!-- iOS 6 iPad (spotlight) [50x50] -->
		<string>icon-small-50.png</string>
		<string>icon-small-50@2x.png</string>
		<!-- iOS 7 iPhone (home) [60x60] -->
		<string>icon-60</string>
		<!-- iOS 7 iPad (home) [76x76] -->
		<string>icon-76</string>
		<!-- iOS 7 (spotlight) [40x40] -->
		<string>icon-40</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.iprogramincpp.purplecord</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
